<!DOCTYPE html>
<html 	lang="en"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorator="layout">

    
    <div class="container" layout:fragment="contenido">
    	<div class="row">
    		<form action="/procesarLogin" method="POST">
    			<input type="text" name="usuario"></input>
    			<input type="text" name="password"></input>
   
   
    			
    			<input type="submit" value="Enviar"></input>
    		</form>
    	
    	</div>
										
	</div>
    
   
	
</html>
